<p>Bem-Vindo <%= @resource.email %>!</p>

<p>Você pode confirmar sua conta através do link abaixo:</p>

<p><%= link_to t("devise.confirm_my_account"), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

