<p>Oi <%= @resource.email %>!</p>

<p>Um requerimento para mudança de senha foi pedido e a alteração pode ser realizada através do link abaixo:</p>

<p><%= link_to t("devise.change_my_password"), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não solicitou a alteração, por favor ignore este email.</p>
<p>A sua senha não mudará até que o link seja acessado e uma nova senha seja criada.</p>
